.container{
    width: 219px;
    height: 257px;
    background-image: url(../img/ejercicio-6.png);
    position: absolute;    
}

.ribbon{
    width: 53px;
    position: absolute;
    bottom: 58px;
    right: 12px;
}

/* Estilos Botón Siguiente*/
.button-next{
    color: #a15760;
    text-shadow: -5px 3px 8px rgba(000, 000, 000, .3);
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
  }
  
  .button-next:hover{
    color: #33aa11;  
    text-shadow: -4px 1px 1px rgba(000, 000, 000, .3);
    transition: text-shadow .5s , color 1s;
  }